@using BetterCMS.Module.Store.ViewModels
@using BetterCms.Module.Root.Mvc.Helpers

@model BetterCms.Module.Root.ViewModels.SiteSettings.SearchableGridViewModel<ProductViewModel>
<div id="bcms-filter-template">
    <div class="bcms-grid-filtering" data-bind="css: { 'bcms-active-filter': isVisible() }">
        <div class="bcms-filterbox" data-bind="click: toggleFilter">
            Filter
        </div>
    </div>
    <div class="bcms-tags-block" style="display: none;" data-bind="visible: isVisible()">
        <div class="bcms-featured-tags">
            <div class="bcms-clearfix">
                <div class="bcms-filter-options">
                    <div class="bcms-filter-text">By Category</div>
                    @Html.DropDownList("CategoryId", new SelectList(ViewBag.ParentCategories, "Key", "Value"), new { @class = "bcms-global-select", @style = "width: 400px;" })
                </div>
                <div class="bcms-filter-options">
                    <div class="bcms-filter-text">By IsFeature?</div>
                    <select id="IsFeature" name="IsFeature">
                        <option value="">--Select--</option>
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="bcms-clearfix">
            <div class="bcms-btn-field-holder">
                @*<div class="bcms-btn-links-small" data-bind="click: clearFilter">Clear</div>*@
                <div class="bcms-btn-small" data-bind="click: searchWithFilter">Search</div>
            </div>
        </div>
    </div>
</div>

