@using BetterCMS.Module.News.ViewModels;
@using BetterCMS.Module.News.Commands.News;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*@foreach (NewsViewModel item in ViewBag.OnePageOfList)
{
    <h2>@item.Title</h2>
}*@
