@{
    Layout = "~/Views/Shared/Fataco/_FatacoLayout.cshtml";
}
<div class="paneTop">
    @RenderSection("Top", false)
</div>
<div class="main">
    <section>
@section HeadScripts {
    @RenderSection("HeadScripts", false)
}

    @RenderSection("MainContent", false)   

 </section>
</div>

@section Scripts {
    @RenderSection("Scripts", false)

}
