@using PagedList;
@using PagedList.Mvc;
@using BetterCMS.Module.Store.ViewModels;
@using BetterCMS.Module.Store.Helpers;

@model IPagedList<ProductViewModel>

<link rel="stylesheet" href="/file/bcms-store/content/styles/pagedlist.css" />
@{
    string headerText = "Sản phẩm";
    string notFoundMsg = "Không tìm thấy sản phẩm nào.";
}

<div class="heading3">@headerText</div>
<div>
    @if (Model.Count > 0)
    {
        foreach (ProductViewModel item in Model)
    {
            {Html.RenderPartial("~/Areas/bcms-store/Views/Widget/Partial/_DisplayProduct.cshtml", item);}
        
    }
    }
    else
    {
        <i>@notFoundMsg</i>
    }
</div>

@if (ViewBag.ShowPager)
{
    @Html.PagedListPager((IPagedList)Model, page => Utility.AppendQueryString(new List<KeyValuePair<String, String>> { new KeyValuePair<string, string>("page", page.ToString()) }))
}

<div style="clear:both;"></div>