<connectionStrings>
  <add name="DefaultConnection" connectionString="server=123.30.187.4;database=izhshbvj_fatoco;user id=izhshbvj_fatoco;password=phone7gil;" />
  <!--<add name="DefaultConnection" connectionString="server=112.213.89.173;database=fataco2014;user id=fataco2014;password=phone7gil;" />-->
</connectionStrings>

<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=BetterCmsDemoGlobal;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>-->